---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  filename: "themes/{{flavor.identifier}}/catppuccin-{{flavor.identifier}}-{{accent}}.conf"
  hex_format: "0x{{A}}{{R}}{{G}}{{B}}"
---
background = {{ mantle.hex }}
base = {{ base.hex }}
text = {{ text.hex }}
alternate_base = {{ crust.hex }}
bright_text = {{ rosewater.hex }}
accent = {{ flavor.colors[accent].hex }}
accent_secondary = {{ flavor.colors[accent].hex }}
